/* Generella */
.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: "Abadi";
}

.text-smaller{
    -fx-font-size: 11px;
    -fx-font-family: "Abadi";
}

.text-larger{
    -fx-font-size: 15px;
    -fx-font-family: "Abadi";
}
